.btn--primary {
  width: 100%;

  border: 1px solid var(--input-primary-color);

  font-size: 1rem;
  font-weight: 600;

  background-color: var(--btn-primary-color);
  color: var(--text-primary-color);

  margin: 0 4px;

  padding: 14px 14px;

  cursor: pointer;
}

// * sm
@media screen and (max-width: 569px) {
}

// * md
@media screen and (max-width: 799px) {
}

// * lg
@media screen and (max-width: 999px) {
}

// * xl
@media screen and (min-width: 1000px) {
  .btn--primary {
    width: 100%;

    padding: 14px 44px;
  }
}
